{% extends 'Profile/profile.html' %} {% load static %} {% block profile_content %}

<!-- content -->
<div class="col-span-12 lg:col-span-9">
  <div class="rounded-lg bg-muted p-5 shadow-base">
    <div
      class="mb-16 flex flex-col items-center justify-between gap-y-8 xs:flex-row"
    >
      <!-- Title -->
      <h1 class="relative w-fit text-xl font-medium">
        آدرس های شما
        <span
          class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-primary"
        >
        </span>
      </h1>

      <button
        data-modal-target="address-add-modal"
        data-modal-toggle="address-add-modal"
        class="btn-primary w-full px-4 py-2 xs:w-fit"
      >
        <svg class="h-6 w-6">
          <use xlink:href="#address-add"></use>
        </svg>
        ثبت آدرس جدید
      </button>
    </div>
    <div class="space-y-4 divide-y">
      <div
        class="block rounded-lg border p-4 shadow-base hover:border-border/50 dark:hover:border-white/10"
      >
        <div class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2">
          <p
            class="line-clamp-2 h-10 text-sm text-text/90 xs:text-base sm:line-clamp-1 sm:h-6"
          >
            استان تهران شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸
          </p>

          <div class="hidden md:block">

            <!-- Dropdown menu -->
            <div
              class="z-10 !ml-5 hidden w-50 overflow-hidden rounded-lg border bg-muted"
              id="address-option-1"
            >
              <ul class="space-y-2 p-2">
                <li>
                  <button
                    type="button"
                    data-modal-target="address-edit-modal-1"
                    data-modal-toggle="address-edit-modal-1"
                    class="flex w-full items-center justify-between rounded-lg px-4 py-3 text-sky-500 hover:bg-sky-500/10 dark:text-sky-400 dark:hover:bg-sky-400/10"
                  >
                    <div class="flex items-center gap-x-2">
                      <svg class="h-6 w-6">
                        <use xlink:href="#address-edit"></use>
                      </svg>
                      <span> ویرایش </span>
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    data-modal-target="address-delete-modal-1"
                    data-modal-toggle="address-delete-modal-1"
                    class="flex w-full items-center justify-between rounded-lg px-4 py-3 text-red-500 hover:bg-warning/10 dark:text-red-400 dark:hover:bg-red-400/10"
                  >
                    <div class="flex items-center gap-x-2">
                      <svg class="h-6 w-6">
                        <use xlink:href="#address-delete"></use>
                      </svg>
                      <span> حذف </span>
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between gap-x-2">
          <p class="line-clamp-1 text-sm text-text/60">تایماز اکبری</p>
          <div class="flex items-center gap-x-2 md:hidden">
            <button
              data-modal-target="address-delete-modal-1"
              data-modal-toggle="address-delete-modal-1"
              class="btn-red-nobg px-3 py-1 text-sm xs:px-4 xs:py-2"
            >
              حذف
            </button>
            <button
              data-modal-target="address-edit-modal-1"
              data-modal-toggle="address-edit-modal-1"
              class="btn-secondary-nobg px-3 py-1 text-sm xs:px-4 xs:py-2"
            >
              ویرایش
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      data-modal-target="address-add-modal"
      data-modal-toggle="address-add-modal"
      class="w-full"
    >
      <div
        class="not-prose relative mt-6 flex rounded-md border bg-muted transition-all duration-150 hover: bg-background hover:dark:bg-zinc-800"
      >
        <div
          class="relative flex h-25 w-full select-none items-center justify-center overflow-hidden rounded opacity-75"
        >
          <svg
            class="absolute inset-0 h-full w-full stroke-zinc-900/10 dark:stroke-white/10"
            fill="none"
          >
            <defs>
              <pattern
                id="pattern-5c1e4f0e-62d5-498b-8ff0-cf77bb448c8e"
                x="0"
                y="0"
                width="10"
                height="10"
                patternUnits="userSpaceOnUse"
              >
                <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
              </pattern>
            </defs>
            <rect
              stroke="none"
              fill="url(#pattern-5c1e4f0e-62d5-498b-8ff0-cf77bb448c8e)"
              width="100%"
              height="100%"
            ></rect>
          </svg>
          <svg class="h-8 w-8 text-primary">
            <use xlink:href="#address-add" />
          </svg>
        </div>
      </div>
    </button>
  </div>
</div>

<!-- Address Delete modal -->
<div
  id="address-delete-modal-1"
  tabindex="-1"
  aria-hidden="true"
  class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-md">
    <div
      class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5"
    >
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-between">
          <h3 class="md:text-lg">حذف آدرس</h3>

          <button
            class=" "
            data-modal-hide="address-delete-modal-1"
            type="button"
          >
            <svg class="h-5 w-5">
              <use xlink:href="#close"></use>
            </svg>

            <span class="sr-only">Close Modal</span>
          </button>
        </div>
      </div>
      <div class="space-y-6 px-4 py-5 sm:p-6">
        <p class="text-text/90">آیا از حذف این آدرس اطمینان دارید؟</p>
        <div class="flex items-center justify-end gap-x-4">
          <button
            class="btn-secondary px-4 py-2 text-sm"
            data-modal-hide="address-delete-modal-1"
            type="button"
          >
            انصراف
          </button>
          <button class="btn-red px-4 py-2 text-sm" type="button">
            حذف آدرس
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Address Add modal -->
<div
  id="address-add-modal"
  tabindex="-1"
  aria-hidden="true"
  class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <div
      class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5"
    >
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-between">
          <h3 class="md:text-lg">ثبت آدرس جدید</h3>

          <button class=" " data-modal-hide="address-add-modal" type="button">
            <svg class="h-5 w-5">
              <use xlink:href="#close" />
            </svg>

            <span class="sr-only">Close menu</span>
          </button>
        </div>
      </div>
      <div class="space-y-6 px-4 py-5 sm:p-6">
        <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
          <!-- Receiver name -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="name"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="name"
                name="first_name"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="نام گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نام گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver family -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="family"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="family"
                name="last_name"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="نام خانوادگی گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نام خانوادگی گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver Phone number -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="phoneNumber"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="phoneNumber"
                name="mobile"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="شماره تماس گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                شماره تماس گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver National Code -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="nationalCode"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="nationalCode"
                name="national_code"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="کد ملی گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                کد ملی گیرنده
              </span>
            </label>
          </div>

          <!-- Receiver Address -->
          <div class="col-span-2">
            <label
              for="address"
              class="relative block rounded-lg border shadow-base"
            >
              <textarea
                type="text"
                id="address"
                name="address"
                rows="3"
                class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="نشانی گیرنده"
              ></textarea>

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نشانی گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver City -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="city"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="city"
                name="city"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="شهر"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                شهر
              </span>
            </label>
          </div>
          <!-- Receiver Province -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="province"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="province"
                name="province"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="استان"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                استان
              </span>
            </label>
          </div>
          <!-- Receiver Building Info -->
          <div
            class="col-span-2 flex w-full items-center gap-x-4 gap-y-5 sm:col-span-1 sm:gap-6"
          >
            <label
              for="buildingNumber"
              class="relative block w-full rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="buildingNumber"
                name="number"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="پلاک"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                پلاک
              </span>
            </label>
            <label
              for="buildingUnit"
              class="relative block w-full rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="buildingUnit"
                name="unit"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="واحد"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                واحد
              </span>
            </label>
          </div>
          <!-- Receiver Postal Code -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="postalCode"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="postalCode"
                name="postal_code"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="کد پستی"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                کد پستی
              </span>
            </label>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="btn-primary w-full px-4 py-2 md:w-auto">
            <span>
              <svg class="h-5 w-5">
                <use xlink:href="#address-add" />
              </svg>
            </span>
            <span> ثبت آدرس جدید </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Address Edit modal -->
<div
  id="address-edit-modal-1"
  tabindex="-1"
  aria-hidden="true"
  class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <div
      class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5"
    >
      <div class="px-4 py-5 sm:px-6">
        <div class="flex items-center justify-between">
          <h3 class="md:text-lg">ویرایش آدرس</h3>

          <button
            class=" "
            data-modal-hide="address-edit-modal-1"
            type="button"
          >
            <svg class="h-5 w-5">
              <use xlink:href="#close" />
            </svg>

            <span class="sr-only">Close menu</span>
          </button>
        </div>
      </div>
      <div class="space-y-6 px-4 py-5 sm:p-6">
        <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
          <!-- Receiver name -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="name"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="name"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="تایماز"
                placeholder="نام گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نام گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver family -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="family"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="family"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="اکبری"
                placeholder="نام خانوادگی گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نام خانوادگی گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver Phone number -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="phoneNumber"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="phoneNumber"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="09999999999"
                placeholder="شماره تماس گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                شماره تماس گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver National Code -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="nationalCode"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="nationalCode"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="1666666666"
                placeholder="کد ملی گیرنده"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                کد ملی گیرنده
              </span>
            </label>
          </div>

          <!-- Receiver Address -->
          <div class="col-span-2">
            <label
              for="address"
              class="relative block rounded-lg border shadow-base"
            >
              <textarea
                type="text"
                id="address"
                rows="3"
                class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                placeholder="نشانی گیرنده"
              >
  استان تهران شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸</textarea
              >

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                نشانی گیرنده
              </span>
            </label>
          </div>
          <!-- Receiver City -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="city"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="city"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="تهران"
                placeholder="شهر"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                شهر
              </span>
            </label>
          </div>
          <!-- Receiver Province -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="province"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="province"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="تهران"
                placeholder="استان"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                استان
              </span>
            </label>
          </div>
          <!-- Receiver Building Info -->
          <div
            class="col-span-2 flex w-full items-center gap-x-4 gap-y-5 sm:col-span-1 sm:gap-6"
          >
            <label
              for="buildingNumber"
              class="relative block w-full rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="buildingNumber"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="28"
                placeholder="پلاک"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                پلاک
              </span>
            </label>
            <label
              for="buildingUnit"
              class="relative block w-full rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="buildingUnit"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="0"
                placeholder="واحد"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                واحد
              </span>
            </label>
          </div>
          <!-- Receiver Postal Code -->
          <div class="col-span-2 sm:col-span-1">
            <label
              for="postalCode"
              class="relative block rounded-lg border shadow-base"
            >
              <input
                type="text"
                id="postalCode"
                class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                value="0000000000"
                placeholder="کد پستی"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
              >
                کد پستی
              </span>
            </label>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="btn-primary w-full px-4 py-2 md:w-auto">
            <span>
              <svg class="h-5 w-5">
                <use xlink:href="#address-edit" />
              </svg>
            </span>
            <span> ویرایش آدرس </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
