<!-- Pagination -->
<div class="flex items-center justify-center gap-x-4 md:justify-end">
  <!-- Previous page-->
  {% if page_obj.has_previous %}
  <a
    class="pagination-button flex items-center justify-center"
    href="?page={{ page_obj.previous_page_number }}"
  >
    <svg class="h-6 w-6">
      <use xlink:href="#chevron-right"></use>
    </svg>
  </a>
  {% endif %}
  <!-- Pages -->
  <div class="flex items-center gap-x-2">
    {% for page_number in page_obj.adjusted_elided_pages %} {% if page_number == page_obj.paginator.ELLIPSIS %}
    <p class="text-sm text-text/60">...</p>
    {% else %}
    <a
      class="pagination-button {% if page_number == page_obj.number %}pagination-button-active{% endif %}"
      href="?page={{page_number}}"
    >
      {{page_number}}
    </a>

    {% endif %} {% endfor %}
  </div>
  <!-- Next page-->
  {% if page_obj.has_next %}
  <a
    class="flex h-8 w-8 items-center justify-center rounded-full bg-muted transition-all duration-200 hover:bg-primary hover:text-white hover:dark:bg-emerald-600"
    href="?page={{ page_obj.next_page_number }}"
  >
    <svg class="h-6 w-6">
      <use xlink:href="#chevron-left"></use>
    </svg>
  </a>
  {% endif %}
</div>
